
#inicio{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.principal{
    background-color: teal;
    color: white;
    padding: 10px;
}

.modulo{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.conteudo{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: black;
}

.topicos{
    background-color:pink;
    flex-grow: 1;
}

.tabela{
    background-color: greenyellow;
    flex-grow: 1;
}
.item{
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
}


.tabela table th, td {
    border: 1px solid black;
    padding: 10px;
    width: 100%;
}







